<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,700|Nunito">
  <link rel="stylesheet" href="/css/mainPage.css">
</head>
<body>
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
<div class="jumbotron centered">
  <div class="container">
    <h1 class="text1">TRACKWELL</h1>
    <p class="text2 ">We track medical data from patients with a lifetime history of disease</p>

    <a class="btn btn1 btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn1 btn-lg" href="/login" role="button">Login</a>
    <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->

    <!-- <button class="btn btn-light btn-lg" type="button" name="button">Register</button> -->
    <!-- <button class="btn btn1 btn-lg" type="button" name="button">Login</button> -->
  </div>

</div>
<!-- <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ul> -->
</body>
</html>
