<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/howareyoufeeling.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,700|Nunito">
</head>
<body>
<div class = "centered">
  <i class="fa fa-home" style = "font-size:55px;color:#e65041"></i>
  <h1>How are you today?</h1>
  <br></br>
  <form class="" action="/vitals" method="post">
    <button type="redirect" id="vitalsButton">Vitals</button>
  </form>
  <br></br>
  <form class="" action="/symptoms" method="post">
    <button type="redirect">Symptoms</button>
  </form>
</div>
<div id="outerContainer">
  <div id="container">
    <div class="circle" style="animation-delay: -3s"></div>
    <div class="circle" style="animation-delay: -2s"></div>
    <div class="circle" style="animation-delay: -1s"></div>
    <div class="circle" style="animation-delay: 0s"></div>
  </div>
</div>

</body>
</html>
