h1{
  font-size: 20;
  font-family: 'Muli', sans-serif;
}
button{
  font-family: 'Nunito', sans-serif;
  padding: 8px;
  background-color: #e65041;
  color: beige;
  font-family: 'Nunito', sans-serif;
  font-size: 2vw;
  width: 12vw;
  opacity: 0.8;
}
.centered{
  text-align: center;
  padding: 26vh 15vw 20vh 15vw;
}
body{
  background-color: #c8e6fa;
}
button{

}
#container {
    width: 1400px;
    height: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   position: fixed;
    top:200px;
    bottom: 10px;
    right: 10px;
    left: 40px;
  }

 .circle {
  border-radius: 50%;
  background-color: deepskyblue;
  width: 600px;
  height: 600px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
